body {
  /* background-image:url(../src/Components/img/bg_01.png) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  margin: 0;
  font-family: "Mulish", sans-serif;
  background-color: #000000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
a,
ol,
ul,
li,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer,
header,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

.header_product {
  width: 100%;
  height: 46px;
  /* background-color: rgb(69, 69, 69); */
}

.list_product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  vertical-align: top;
  transition: 0.13s;
  -webkit-transition: 0.13s;
  -moz-transition: 0.13s;
  -ms-transition: 0.13s;
  -o-transition: 0.13s;
}

.list:hover {
  text-decoration: underline;
  color: blanchedalmond;
  text-decoration-color: rgb(86, 85, 84);
}

.logo {
  width: 13px;
  color: white;
}

.icon {
  font-size: 22px;
  margin-left: 25px;
}

/* MainTech section */

.about_section {
  width: 832px;
  max-height: 54px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.title_airpods {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin: 5px 10px;
}

.list_aboute {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aipods_about {
  margin: 5px 10px;
}

.aipods_about:last-child {
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 26px;
  border-radius: 20px;
  background: #0075ff;
}

.hr_aboute {
  height: 2px;
  width: 832px;
  background-color: rgb(51, 50, 50);
  margin: 0 auto;
}
